@import "resets/normalize.css";

@import "global/theme-variables";
@import "global/typography";
@import "global/layout";

@import "syntax/night-owl.css";

@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Raleway:800&display=swap");

body {
  background-color: $bg-light;
}

.pp {
  margin: 1.5rem auto;
  width: 150px;
  text-align: center;

  .pp-image img {
    border-radius: 100%;
  }

  .pp-caption {
    font-size: 0.8rem;
  }
}

.unsystematic-trees {
  margin: 0 auto 0.75rem;
  width: 300px;
}

.post-subtitle {
  margin-top: -$s-1;
  margin-bottom: $s1;
  line-height: $s1;
}

// Horizontal navigation bars
.post-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
